*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
downloads/
eggs/
fake-eggs/
include/
lib/
parts/
src/*
src-git/
!src/prima
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
*.DS_Store
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
docs/build
