[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    versions.cfg
extensions = mr.developer

package-name = matem.solicitudes
package-extras = [test]
eggs = ${:package-name} [develop]

parts +=
    code-analysis
    i18ndude
    rebuild_i18n-sh
    omelette
    sphinx
    zopepy

show-picked-versions = true
sources-dir = src-git
auto-checkout = *


[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/matem/solicitudes
pre-commit-hook = False
flake8 = True
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg,${:directory}/PyRTF,${:directory}/content,${:directory}/browser,${:directory}/profiles,${:directory}/portlets,${:directory}/tests
flake8-extensions =
    flake8-blind-except
    flake8-coding
    flake8-debugger
#    flake8-quotes
#    pep8-naming
flake8-ignore = E501
flake8-max-complexity = 15
# csslint = True
# csslint-bin = ${buildout:directory}/bin/csslint
# jshint = True
# jshint-bin = ${buildout:directory}/bin/jshint
clean-lines = True
clean-lines-exclude =
    ${:directory}/PyRTF
imports = True
imports-exclude =
    ${:directory}/PyRTF
    ${:directory}/content
    ${:directory}/browser
    ${:directory}/profiles
    ${:directory}/portlets
    ${:directory}/tests


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[rebuild_i18n-sh]
recipe = collective.recipe.template
url = https://raw.github.com/collective/buildout.plonetest/master/templates/rebuild_i18n.sh.in
output = ${buildout:directory}/bin/rebuild_i18n.sh
mode = 755


[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}


[sources]
Products.ATCountryWidget = git https://github.com/collective/Products.ATCountryWidget.git
Products.CompoundField = git https://github.com/collective/Products.CompoundField.git
Products.DateFree = git https://github.com/imatem/Products.DateFree.git
matem.fsdextender = git https://github.com/imatem/matem.fsdextender.git


[sphinx]
recipe = collective.recipe.sphinxbuilder
interpreter = ${buildout:directory}/bin/zopepy
source = ${buildout:directory}/docs
build = ${buildout:directory}/docs/build


[zopepy]
recipe = zc.recipe.egg
eggs =
    ${instance:eggs}
#    sphinx-rtd-theme
interpreter = zopepy
scripts = zopepy
