[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/imatem/plone-dev.cfg-files/master/versions-dev.cfg

package-name = matem.solicitudes
package-extras = [test]
eggs = ${:package-name} [develop]

parts +=
    dependencychecker
    node
    extras
    code-analysis
    rebuild_i18n-sh
    omelette
    sphinx
    zopepy

allow-picked-versions = false
show-picked-versions = true
sources-dir = src-git

[dependencychecker]
recipe = zc.recipe.egg
eggs = z3c.dependencychecker

[node]
recipe = gp.recipe.node
npms = csslint jshint jscs
scripts = csslint jshint jscs

[extras]
recipe = zc.recipe.egg
eggs =
    i18ndude
    zptlint

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/matem/solicitudes
pre-commit-hook = False
flake8-extensions =
    flake8-blind-except
    flake8-coding
    flake8-debugger
#    flake8-deprecated
#    flake8-docstrings
    flake8-isort
    flake8-pep3101
    flake8-plone-hasattr
    flake8-print
    flake8-quotes
    flake8-string-format
#    flake8-todo
#    pep8-naming
flake8-ignore = E501,D100,D104,T000
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg,${:directory}/PyRTF,${:directory}/browser,${:directory}/profiles,${:directory}/portlets,${:directory}/tests,${:directory}/content
flake8-max-complexity = 15
check-manifest = False
# CSS
csslint = True
csslint-bin = ${buildout:directory}/bin/csslint
# JS
jshint =  True
jshint-bin = ${buildout:directory}/bin/jshint
jshint-suppress-warnings = False
jscs = True
jscs-bin = ${buildout:directory}/bin/jscs
jscs-exclude =
# ZPT
zptlint = True
zptlint-bin = ${buildout:directory}/bin/zptlint
# Conventions
clean-lines = True
clean-lines-exclude =
    ${:directory}/PyRTF
    ${:jscs-exclude}
# i18n
find-untranslated = True
find-untranslated-exclude =
    ${:directory}/portlets
    ${:directory}/browser
i18ndude-bin = ${buildout:directory}/bin/i18ndude

[rebuild_i18n-sh]
recipe = collective.recipe.template
url = https://raw.github.com/collective/buildout.plonetest/master/templates/rebuild_i18n.sh.in
output = ${buildout:directory}/bin/rebuild_i18n.sh
mode = 755

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[sphinx]
recipe = collective.recipe.sphinxbuilder
interpreter = ${buildout:directory}/bin/zopepy
source = ${buildout:directory}/docs
build = ${buildout:directory}/docs/build

[zopepy]
recipe = zc.recipe.egg
eggs =
    ${instance:eggs}
#    sphinx-rtd-theme
interpreter = zopepy
scripts = zopepy

[versions]
zc.buildout = 2.4.0
setuptools = 20.1.1
z3c.form = 3.2.9

# Required by:
# matem.solicitudes==3.0.9
archetypes.multifile = 1.5
collective.datagridcolumns = 0.7.0
plone.api = 1.5
Products.ATCountryWidget = 0.2.6
Products.ATExtensions = 1.1
Products.DataGridField = 1.9.4
Products.FacultyStaffDirectory = 3.1.3
Products.MasterSelectWidget = 0.4.8
Products.membrane = 2.1.7
Products.Relations = 0.9b1

Products.PDBDebugMode = 1.3.1
Products.PrintingMailHost = 0.8
