@media print {

    @page {
      margin: .5cm 1.5cm;
    }

    #portal-header, #portal-footer-wrapper, #header-info{
        display: none;
    }

    .fc .btn-group, .fc .btn{
        display: none;
    }

    .tabularView {
        font: 7pt Georgia, "Times New Roman", Times, serif;
        line-height: 1;
    }

    label {
        font-weight: bold;
    }

    .objective{
        text-align: justify;
    }

}

.warning-spent {
    margin-bottom: 1em;
    background-color: #e6f1f6;
    border: 1px solid #b7c7cf;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#content .warning-spent table {
    margin-top: 5px;
    margin-bottom: 5px;
}

#content .warning-spent table td,
#content .warning-spent table th {
    padding-left: 2em;
}